*{
    padding: 0;
    margin: 0;
}
body{
    background: #fff;
    color: #333;
    font: 12px/1.6em Helvetica,Arial,sans-serif;
}
a{
    color: #FFF;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
ul,li{
    list-style:none;
}
img{
    border:none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 1em;
}
html{
    overflow:-moz-scrollbars-vertical;
}
#web{
    width: 960px;
    margin: 0 auto;
}

